In [38]:
import bql
bq = bql.Service()

In [39]:
#------------#
#  Grouping  #
#------------#

# Example 1: 
# Average + Last Price + Date range

# BQL String:
# get(avg(PX_LAST(dates=range(-10D, 0D)))) 
# for(['TSLA US Equity', 'NFLX US Equity', 'UBER US Equity'])

# BQL Object Model:
bql_item = (bq.data.px_last(dates=bq.func.range('-5D', '-3D')))
bql_universe = ['TSLA US Equity', 'NFLX US Equity', 'UBER US Equity']
bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df = bql_response[0].df()
df

                     DATE CURRENCY  PX_LAST(dates=RANGE(-5D,-3D))
ID
TSLA US Equity 2020-08-12      USD                        1554.76
TSLA US Equity 2020-08-13      USD                        1621.00
TSLA US Equity 2020-08-14      USD                        1650.71
NFLX US Equity 2020-08-12      USD                         475.47
NFLX US Equity 2020-08-13      USD                         481.33
NFLX US Equity 2020-08-14      USD                         482.68
UBER US Equity 2020-08-12      USD                          30.84
UBER US Equity 2020-08-13      USD                          30.46
UBER US Equity 2020-08-14      USD                          29.99

- By default, each security, country or other entity in a universe is surrounded by a container that isolates the entity's data from the data of other universe members.

- This container is known as the identifier boundary.

- Because you spcified a date range of three days, each security returns a "stack" of three prices. You can visualize each stack as a separate boundary that belongs to each security.

- Calculating one average value for each set of three prices ...

In [40]:
# Example 1: 
# Average + Last Price + Date range

# BQL String:
# get(avg(PX_LAST(dates=range(-10D, 0D)))) 
# for(['TSLA US Equity', 'NFLX US Equity', 'UBER US Equity'])

# BQL Object Model:
bql_item = bq.func.avg(bq.data.px_last(dates=bq.func.range('-5D', '-2D')))
bql_universe = ['TSLA US Equity', 'NFLX US Equity', 'UBER US Equity']
bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df = bql_response[0].df()
df

                     DATE CURRENCY  AVG(PX_LAST(dates=RANGE(-5D,-2D)))
ID
TSLA US Equity 2020-08-15      USD                         1608.823333
NFLX US Equity 2020-08-15      USD                          479.826667
UBER US Equity 2020-08-15      USD                           30.430000

In [41]:
# Example 2: Grouping methods ... 
# Group members of the Euro Stoxx 50 by country and find the median profit margin per country:

# BQL String:
# get(median(group(PROF_MARGIN(), by=COUNTRY_FULL_NAME()))) 
# for(members('SXXP Index'))

# BQL Object Model:
bql_item = bq.func.median(bq.func.group(bq.data.prof_margin(), by=bq.data.country_full_name()))
bql_universe = bq.univ.members('SXXP Index')
bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df = bql_response[0].df()
df.head()

,REVISION_DATE,PERIOD_END_DATE,AS_OF_DATE,ORIG_IDS,COUNTRY_FULL_NAME(),"MEDIAN(GROUP(PROF_MARGIN(),by=COUNTRY_FULL_NAME()))"
ID,,,,,,
AUSTRALIA,2020-02-25,2019-12-31,2020-08-17,BHP LN Equity,AUSTRALIA,20.527923
AUSTRIA,2020-07-29,2020-06-30,2020-08-17,None,AUSTRIA,13.556570
BELGIUM,2020-07-29,2020-06-30,2020-08-17,None,BELGIUM,10.363741
BERMUDA,2020-08-03,2020-06-30,2020-08-17,HSX LN Equity,BERMUDA,-7.809186
BRITAIN,2020-06-15,2020-03-31,2020-08-17,None,BRITAIN,8.364807

In [42]:
# Example 3:
# Create a ratio that compares today’s total return from each member of the Euro Stoxx 50 Index to the average total return across all members:

# BQL String:
# get((DAY_TO_DAY_TOT_RETURN_GROSS_DVDS(dates=range(-6D, -3D))/GROUPAVG(DAY_TO_DAY_TOT_RETURN_GROSS_DVDS(dates=range(-6D, 0D))))) 
# for(members('IBOV Index'))

# BQL Object Model:
bql_item = (bq.data.day_to_day_tot_return_gross_dvds(dates=bq.func.range('-5D', '-3D')) / bq.func.groupavg(bq.data.day_to_day_tot_return_gross_dvds(dates=bq.func.range('-5D', '-3D'))))
bql_universe = bq.univ.members('IBOV Index')
bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df = bql_response[0].df()
df.head()

,DATE,"DAY_TO_DAY_TOT_RETURN_GROSS_DVDS(dates=RANGE(-5D,-3D))/GROUPAVG(DAY_TO_DAY_TOT_RETURN_GROSS_DVDS(dates=RANGE(-5D,-3D)))"
ID,,
ENBR3 BS Equity,2020-08-12,1.089128
ENBR3 BS Equity,2020-08-13,2.919133
ENBR3 BS Equity,2020-08-14,-1.972885
HGTX3 BS Equity,2020-08-12,12.794549
HGTX3 BS Equity,2020-08-13,-0.723640