In [24]:
#------------#
#  Grouping  #
#------------#

# Example 1:
# Average group last price ...

# BQL String:
# get(AVG(GROUP(PX_LAST(dates=RANGE(-2D, 0D))))) 
# for(['UBER US Equity', 'NFLX US Equity', 'LYFT US Equity'])

# BQL Object Model (BBG):
import bql
bq = bql.Service()

bql_item = bq.func.avg(bq.func.group(bq.data.px_last(dates=bq.func.range('-2D', '0D'))))
bql_universe = ['UBER US Equity', 'NFLX US Equity', 'LYFT US Equity']

bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)
df_main = bql.combined_df(bql_response)
df_main.head()

,DATE,CURRENCY,ORIG_IDS,"AVG(GROUP(PX_LAST(dates=RANGE(-2D,0D))))"
ID,,,,
IdentityGroup,2020-08-20,USD,None,182.97889

In [25]:
# Example 1:

# BQL Object Model(Lets Code/ Breakdown)

# Data item:
dates_range = bq.func.range('-2D', '0D')
bql_item = bq.data.px_last(dates=dates_range)
bql_avg = bq.func.avg(bql_item)

# or ...
bql_avg = bql_item.avg()

# Universe:
bql_univ = ['UBER US Equity', 'NFLX US Equity', 'LYFT US Equity']

# Fetching data:
bql_request = bql.Request(bql_univ, bql_avg)
bql_response = bq.execute(bql_request)
df_main = bql.combined_df(bql_response)
df_main.head()

                     DATE CURRENCY  AVG(PX_LAST(dates=RANGE(-2D,0D)))
ID
UBER US Equity 2020-08-20      USD                          29.970734
NFLX US Equity 2020-08-20      USD                         490.793337
LYFT US Equity 2020-08-20      USD                          28.173334

In [26]:
# Example 2:
# Median Profit Margin by country

# BQL String:
# get(median(group(PROF_MARGIN(), by = COUNTRY_FULL_NAME()))) 
# for(MEMBERS('SXXP Index'))

# BQL Object Model (BBG):
bql_item = bq.func.median(bq.func.group(bq.data.prof_margin(), by=bq.data.country_full_name()))
bql_universe = bq.univ.members('SXXP Index')

bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)

df_main = bql.combined_df(bql_response)
df_main.head()

,REVISION_DATE,PERIOD_END_DATE,AS_OF_DATE,ORIG_IDS,COUNTRY_FULL_NAME(),"MEDIAN(GROUP(PROF_MARGIN(),by=COUNTRY_FULL_NAME()))"
ID,,,,,,
AUSTRALIA,2020-08-17,2020-06-30,2020-08-20,BHP LN Equity,AUSTRALIA,18.532063
AUSTRIA,2020-07-29,2020-06-30,2020-08-20,None,AUSTRIA,13.512044
BELGIUM,2020-07-29,2020-06-30,2020-08-20,None,BELGIUM,10.363741
BERMUDA,2020-08-03,2020-06-30,2020-08-20,HSX LN Equity,BERMUDA,-7.809186
BRITAIN,2020-07-30,2020-06-30,2020-08-20,None,BRITAIN,8.358302

In [29]:
# Example 2:

# BQL Object Model (Lets Code/Breakdown):

# Data item:
bql_item = bq.data.prof_margin()
country = bq.data.country_full_name()
bql_group = bql_item.group(by = country)
bql_median = bql_group.median()

# Universe:
bql_univ = bq.univ.members('SXXP Index')

# Fetching data:
bql_request = bql.Request(bql_univ, bql_median)
bql_response = bq.execute(bql_request)
df_main = bql.combined_df(bql_response)
df_main.head()

,REVISION_DATE,PERIOD_END_DATE,AS_OF_DATE,ORIG_IDS,COUNTRY_FULL_NAME(),"MEDIAN(GROUP(PROF_MARGIN(),by=COUNTRY_FULL_NAME()))"
ID,,,,,,
AUSTRALIA,2020-08-17,2020-06-30,2020-08-20,BHP LN Equity,AUSTRALIA,18.532063
AUSTRIA,2020-07-29,2020-06-30,2020-08-20,None,AUSTRIA,13.512044
BELGIUM,2020-07-29,2020-06-30,2020-08-20,None,BELGIUM,10.363741
BERMUDA,2020-08-03,2020-06-30,2020-08-20,HSX LN Equity,BERMUDA,-7.809186
BRITAIN,2020-07-30,2020-06-30,2020-08-20,None,BRITAIN,8.358302