In [36]:
import bql
bq = bql.Service()
request = "get(px_last, px_open)for(['FB US Equity', 'IBM US Equity'])"
response = bq.execute(request)
df = bql.combined_df(response) # Joining PX_Last and PX_Open
df

                    DATE CURRENCY     px_last  px_open
ID
FB US Equity  2020-08-17      USD  261.220001   262.50
IBM US Equity 2020-08-17      USD  124.690002   125.25

In [37]:
# Accessing individual dataframes:
df_0 = response[0].df()
df_1 = response[1].df()

In [38]:
# PX_LAST:
df_0

                    DATE CURRENCY     px_last
ID
FB US Equity  2020-08-17      USD  261.220001
IBM US Equity 2020-08-17      USD  124.690002

In [39]:
# PX_OPEN:
df_1

                    DATE CURRENCY  px_open
ID
FB US Equity  2020-08-17      USD   262.50
IBM US Equity 2020-08-17      USD   125.25

In [40]:
# Exercise:
bql_item1 = bq.data.px_last(dates='today')
bql_item2 = bq.data.px_open(dates=bq.func.range('-2D', '0D'))
bql_item3 = bq.data.px_high(dates='2020-01-02')
bql_items = [bql_item1, bql_item2, bql_item3]

bql_universe = ['UBER US Equity', 'LYFT US Equity', 'NFLX US Equity']

bql_request = bql.Request(bql_universe, bql_items)
bql_response = bq.execute(bql_request)
df = bql_response[1].df()
df

                     DATE CURRENCY  PX_OPEN(dates=RANGE(-2D,0D))
ID
UBER US Equity 2020-08-15      USD                           NaN
UBER US Equity 2020-08-16      USD                           NaN
UBER US Equity 2020-08-17      USD                     30.049999
LYFT US Equity 2020-08-15      USD                           NaN
LYFT US Equity 2020-08-16      USD                           NaN
LYFT US Equity 2020-08-17      USD                     28.358999
NFLX US Equity 2020-08-15      USD                           NaN
NFLX US Equity 2020-08-16      USD                           NaN
NFLX US Equity 2020-08-17      USD                    484.190002