In [16]:
#-------#
# BqViz #
#-------#

import bql
import bqviz as bqv
import pandas as pd

bq = bql.Service()
params_dict = {    'dates': 'range(2016-01-01, 2017-01-01)',
                'currency': 'usd',
                    'fill':'next'}

# Data items: 
px_open = bq.data.px_open(**params_dict)
px_last = bq.data.px_last(**params_dict)
px_high = bq.data.px_high(**params_dict)
px_low = bq.data.px_low(**params_dict)

# Passing on 'column' dictionary: 
items_dict = { 'Open': px_open,
               'Last': px_last,
               'High': px_high,
                'Low': px_low}

# Universe:
bq_univ = 'IBM US Equity'

# Fetching data:
request = bql.Request(bq_univ, items_dict)
response = bq.execute(request)
df_main = bql.combined_df(response)

# Data wrangling:
df_main.set_index('DATE', inplace=True)
df_main.drop('CURRENCY', axis=1, inplace=True)
df_main.head()

              Open    Last    High         Low
DATE
2016-01-01  135.60  135.95  135.97  134.240000
2016-01-02  135.60  135.95  135.97  134.240000
2016-01-03  135.60  135.95  135.97  134.240000
2016-01-04  135.60  135.95  135.97  134.240000
2016-01-05  136.76  135.85  136.89  134.850125

In [17]:
intlines = bqv.InteractiveLinePlot(df_main, hide_controls=True)
intlines.show()

VBox(children=(Box(children=(Figure(animation_duration=500, axes=[Axis(scale=DateScale()), Axis(label_offset='…

In [18]:
intlines._lines

SelectMultiple(description='Columns', options=('Open', 'Last', 'High', 'Low'), value=())

In [19]:
intlines._startrange

SelectionSlider(description='Start: ', layout=Layout(width='33%'), options=(datetime.date(2016, 1, 1), datetim…

In [23]:
df_main.reset_index(inplace=True)
intscatter = bqv.InteractiveScatterPlot(df_main)
intscatter.show()

VBox(children=(Box(children=(Figure(axes=[Axis(label='level_0', scale=LinearScale(), side='bottom'), Axis(labe…

In [22]:
intscatter._xsel()

interactive(children=(Dropdown(description='X Axis', options=('index', 'DATE', 'Open', 'Last', 'High', 'Low'),…

In [26]:
intscatter.selected_data

     level_0  index       DATE    Open    Last    High     Low
91        91     91 2016-04-01  150.51  152.52  152.96  150.25
92        92     92 2016-04-02  152.34  152.07  153.52  151.91
93        93     93 2016-04-03  152.34  152.07  153.52  151.91
94        94     94 2016-04-04  152.34  152.07  153.52  151.91
95        95     95 2016-04-05  151.43  150.00  151.60  149.65
..       ...    ...        ...     ...     ...     ...     ...
181      181    181 2016-06-30  148.86  151.78  151.91  148.67
182      182    182 2016-07-01  152.19  152.35  152.97  151.40
183      183    183 2016-07-02  151.19  151.68  152.00  150.76
184      184    184 2016-07-03  151.19  151.68  152.00  150.76
185      185    185 2016-07-04  151.19  151.68  152.00  150.76

[95 rows x 7 columns]