In [35]:
from bqplot import pyplot as plt
import pandas as pd
import bql

bq = bql.Service()

params_dict = {"dates": "range(2019-12-01, 2019-12-31)",
               "currency": "usd",
               "fill": "prev"}

date_range = bq.func.range('2019-12-01', '2019-12-31')

# Data items:
px_open = bq.data.px_open(**params_dict)
px_last = bq.data.px_last(**params_dict)
px_high = bq.data.px_high(**params_dict)
px_low = bq.data.px_low(**params_dict)

interval = px_high - px_low

items_dict = {'Open': px_open,
              'Last': px_last,
              'High': px_high,
              'Low': px_low}

# Universe:
index = bq.univ.members('SPX Index')

# Fetching data:
request = bql.Request(index, items_dict)
response = bq.execute(request)
df_main = bql.combined_df(response)
df_main.head(5)

                    DATE CURRENCY   Open   Last   High    Low
ID
LYB UN Equity 2019-12-01      USD  93.20  92.54  93.46  92.40
LYB UN Equity 2019-12-02      USD  92.93  92.65  94.14  92.43
LYB UN Equity 2019-12-03      USD  90.08  91.76  92.10  89.90
LYB UN Equity 2019-12-04      USD  92.65  91.48  93.73  91.46
LYB UN Equity 2019-12-05      USD  92.07  91.78  92.17  91.01

In [36]:
# Data Wrangling:
df_main.reset_index(inplace=True)
df_main.dropna(axis=0, inplace=True)
df_main.head()

              ID       DATE CURRENCY   Open   Last   High    Low
0  LYB UN Equity 2019-12-01      USD  93.20  92.54  93.46  92.40
1  LYB UN Equity 2019-12-02      USD  92.93  92.65  94.14  92.43
2  LYB UN Equity 2019-12-03      USD  90.08  91.76  92.10  89.90
3  LYB UN Equity 2019-12-04      USD  92.65  91.48  93.73  91.46
4  LYB UN Equity 2019-12-05      USD  92.07  91.78  92.17  91.01

In [37]:
mask = (df_main['ID'] == 'MSFT UW Equity')
df_msft = df_main[mask]
df_msft.head()

                  ID       DATE CURRENCY    Open    Last     High      Low
1178  MSFT UW Equity 2019-12-01      USD  152.00  151.38  152.290  151.285
1179  MSFT UW Equity 2019-12-02      USD  151.75  149.55  151.830  148.330
1180  MSFT UW Equity 2019-12-03      USD  147.39  149.31  149.425  146.650
1181  MSFT UW Equity 2019-12-04      USD  150.00  149.85  150.140  149.200
1182  MSFT UW Equity 2019-12-05      USD  150.05  149.93  150.320  149.500

In [38]:
df_dates = df_msft.loc[:, 'DATE']
df_dates.head()

1178   2019-12-01
1179   2019-12-02
1180   2019-12-03
1181   2019-12-04
1182   2019-12-05
Name: DATE, dtype: datetime64[ns]

In [39]:
# Plotting data:

plt.figure()
lines = plt.plot(df_dates, df_msft['Open'], 
                 axes_options={'x': {'label': 'DATES'},
                               'y': {'label': 'Price (USD)'}})

plt.title('MSFT US Equity - Open Price')
plt.axes()['x'].tick_format = '%m-%d-%y'
plt.axes()['x'].tick_rotate = -45
plt.axes()['x'].label_offset = '40'
plt.show()

VBox(children=(Figure(axes=[Axis(label='DATES', label_offset='40', scale=DateScale(), tick_format='%m-%d-%y', …

In [45]:
# Open-High-Low-Close:

cols = ['Open', 'High', 'Low', 'Last']
df_msft = df_msft[cols]

plt.figure()

plt.ohlc(df_dates, df_msft,
        axes_options={'x': {'label': 'DATES'},
                               'y': {'label': 'Price (USD)'}})

plt.axes()['x'].tick_format = '%m-%d-%y'
plt.axes()['x'].tick_rotate = -45
plt.axes()['x'].label_offfset = '40'
plt.show()

VBox(children=(Figure(axes=[Axis(label='DATES', scale=DateScale(), tick_format='%m-%d-%y', tick_rotate=-45), A…